<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mood Desi</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" /> 
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="../static/css/templatemo-diagoona.css" rel="stylesheet" />
<!--



-->
</head>

<body>
    <div class="tm-container">        
        <div>
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        <div class="media-body">
                            <h5 class="tm-sitename text-uppercase"><img src="../static/logo.jpg"
                                width="150" 
                                height="150"/> : How you Feeling?</h5>
                        </div>        
                    </div>
                </div>
                <div class="tm-col-right">
                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">
                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button" 
                            data-toggle="collapse" data-target="#navbar-nav" 
                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span><i class="fas fa-bars"></i></span>
                        </button>
                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">
                            <ul class="navbar-nav text-uppercase">
                                <li class="nav-item active">
                                    <a class="nav-link tm-nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/about">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/moodDetector">Mood Detector</a>
                                </li>                            
                                <li class="nav-item">
                                    <a class="nav-link tm-nav-link" href="/queries">Queries</a>
                                </li>
                            </ul>                            
                        </div>                        
                    </nav>
                </div>
            </div>
            
            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h2 class="mb-5 tm-content-title">Mood Desi</h2>
                        <p class="mb-5">Mood Desi is your pocket friendly mood detector. Mood Desi does phenomenal job of predicting what you  feeling, How are you feeling and then gives the report as well! Isn't it amazing?</p>
                        <hr class="mb-5">
                        <p class="mb-5">Mood Desi is an web based application that can detect mood based upon the facial recognition. The System uses the camera of the device and does live facial analysis. The Model's architecture consists of Facial detection and Emotion classification. The Facial Detection's Model is trained on WIDER FACE dataset. This model is used for classifying the faces. The Facial Expression classification was trained on Affect Net Dataset to classify as per the facial expression. The Output is given in form of number which can be tracked to mood and each mood is then reflected by a live Analysis of the face which is shown as output on the screen. Later after the session, An output is given in form of Bokeh Plot which shows the summary of the mood and emotions in the considered time period. The FrontEnd Web is developed by Using HTML, CSS and JavaScript. Application is based on flask.</p>                        
                        <a href="/about" class="btn btn-primary">Know More...</a>
                    </section>
                </main>
            </div>
        </div>        

        <div class="tm-row">
            <div class="tm-col-left text-center">            
                <ul class="tm-bg-controls-wrapper">
                    <li class="tm-bg-control active" data-id="0"></li>
                    <li class="tm-bg-control" data-id="1"></li>
                    <li class="tm-bg-control" data-id="2"></li>
                </ul>            
            </div>        
            <div class="tm-col-right tm-col-footer">
                <footer class="tm-site-footer text-right">
                    <p class = "mb-0">Team - Samyak Gupta (2019202),Shubham Rao(2020246), Gunar Sindhwani (2020199)</p>
                    <p class = "mb-0">Team - Monsoon 2022 Semester</p>
                    <p class = "mb-0">Instructor - Professor Pravesh Biyani</p>
                    <p class = "mb-0">Teaching Assistants : Raashid Altaf,Gitansh Raj Satija,Siraj Ansari</p>
                </footer>
            </div>  
        </div>

        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.backstretch.min.js"></script>
    <script src="../static/js/templatemo-script.js"></script>
</body>
</html>