
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tensor Flow Emo Detection from getUserMedia</title>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
</head>


<style>
    video {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        /* Mirror the local video */
        transform: scale(-1, 1);            /*For Firefox (& IE) */
        -webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
    }
    canvas{
        position: absolute;
        top: 0;
        left: 0;
        z-index:1
    }
</style>
<body>
<!--<button class="btn btn-primary" id="start_scr"> Start Screen Sharing</button>-->
<!--<button class="btn btn-primary" id="start_cam">Start Camera</button>-->
<!--<button class="btn btn-primary" id="plot_start">PlotBokeh_start</button>-->

<video id="myVideo" autoplay></video>

<script type="text/javascript">

const startElemscr = document.getElementById("start_scr");
const startElemcam = document.getElementById("start_cam");
const plotStart = document.getElementById("plot_start");

//Get camera video
const constraints = {
    audio: false,
    video: {
        width: 1280, //{min: 640, ideal: 1280, max: 1920},
        height: 720 //{min: 480, ideal: 720, max: 1080}
    }
};
//const videoElem = document.getElementById("myVideo");


<!--startElemcam.addEventListener("click", function (evt) {-->
<!--             navigator.mediaDevices.getDisplayMedia(constraints)-->
<!--    .then(stream => {-->
<!--        document.getElementById("myVideo").srcObject = stream;-->
<!--        console.log("Got local user video");-->
<!--    })-->
<!--    .catch(err => {-->
<!--        console.log('navigator.getUserMedia error: ', err)-->
<!--    });-->
<!--                    }, false);-->


navigator.mediaDevices.getDisplayMedia(constraints)
    .then(stream => {
        document.getElementById("myVideo").srcObject = stream;
        console.log("Got local user video");

    })
    .catch(err => {
        console.log('navigator.getUserMedia error: ', err)
    });



</script>
<script id="emoDetect" src="../static/emoDetect.js" data-source="myVideo" data-mirror="true" data-uploadWidth="640"></script>
</body>
</html>